* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #111;
    color: white;
}

.navbar {
    background: transparent;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    cursor: default; 
}
.logo:hover {
    color: #fff;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background: linear-gradient(45deg, #00ffff, #0000ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    border-bottom: 2px solid #0077ff;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.hero-section {
    min-height: 100vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    padding: 100px 10%;
    
    background-color: #222222;
}

.content-left {
    flex: 1;
    max-width: 500px;
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

.content-left h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fff;
}

.subtitle {
    margin-bottom: 30px;
    color: #ccc;
    font-size: 1.1rem;
}

.social-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-card {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.3s ease;
    border: 1px solid transparent;
}

.social-card:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: linear-gradient(45deg, #00ffff, #0000ff);
    transform: translateX(10px);
}

.social-card img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 20px;
}

.social-card span {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.image-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-right img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0))
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .menu-toggle.is-active .bar:nth-child(2) { opacity: 0; }
    .menu-toggle.is-active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .menu-toggle.is-active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color: #111; 
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2rem 0;
    }
}