* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.hero-section {
    background: url("../Images/background.png") no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-section h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-section p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
}

.navbar {
    background: transparent;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    cursor: default; 
}
.logo:hover {
    color: #fff;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background: linear-gradient(45deg, #00ffff, #0000ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    border-bottom: 2px solid #0077ff;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

@media screen and (max-width: 900px) {
    .menu-toggle {
        display: block;
    }

    .menu-toggle.is-active .bar:nth-child(2) { opacity: 0; }
    .menu-toggle.is-active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .menu-toggle.is-active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color: #111; 
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2rem 0;
    }
}